{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": [
            "defaults"
          ]
        },
        "useBuiltIns": "entry"
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread"
  ],
  "env": {
    "production": {
      "only": [
        "src"
      ],
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-react-inline-elements",
        "transform-react-constant-elements"
      ]
    }
  }
}
