{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": [
            "defaults"
          ]
        },
        "useBuiltIns": "entry"
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread"
  ]
}
