{
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": { "jsx": true }
  },
  "import/parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  },
  "extends" : ["airbnb"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "react/require-default-props": 0,
    "global-require": "warn",
    "semi": "off",
    "jsx-a11y/no-marquee": 0,
    "new-cap": ["error", {
      "capIsNewExceptions": ["List", "Map", "Set"]
    }],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never"
    }],
    "object-curly-spacing": [2, "always"]
  }
}
